#section-footer {
  background-color: rgb(23, 21, 19);
  margin: 0;
  padding: 16px 120px 40px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: $headers-font;
    font-size: 4rem;
    padding: 8px;
    margin: 0;
    color: rgb(240, 231, 222);
    font-weight: lighter;
  }

  p {
    font-family: $body-font;
    color: rgb(240, 231, 222);
    padding: 8px;
    margin: 0;
  }

  .footer-links {
    display: flex;
    justify-content: left;

    i {
      font-size: 35px;
      color: rgb(240, 231, 222);
      padding: 8px;
    }

    i:hover {
      color: rgb(63, 56, 49);
    }
  }
}
