body {
  background-color: rgb(240, 231, 222);
  color: rgb(23, 21, 19);
  margin: 0 auto;
}

.container {
  margin: 16px 100px 16px 16px;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: rgb(240, 231, 222);
  border: 1px solid rgb(23, 21, 19);
}

::-webkit-scrollbar-thumb {
  background: rgb(23, 21, 19);
}

html {
  scroll-behavior: smooth;
}
